@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Lobster|Pacifico";
html, body, footer {
  font-family: 'Lobster', cursive;
  font-size: large;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  margin: 10%;
  /*background-color: #4f9cb8;*/
}
p {
  font-family: 'Pacifico', cursive;
}
.content {
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.hero {
  height: 100%;
  width: 100%;
  background: url("/static/url-shortener.jpg");
  /*background-size: 100vh;*/
  background-repeat: no-repeat;
  background-position: center center;
  display: table;
}
.content h1 {
  text-align: center;
  font-size: 300%;
}
footer {
  position: absolute;
  bottom: 0;
  float: right;
}
ul {
  display: flex;
  transform: translate(-50%, -50%);

}
ul li {
  list-style: none;
  position: relative;
  margin: 0 10px;
  float: right;
}
ul li a {
  width: 70px;
  height: 40px;
  background: #fff;
  display: block;
  text-align: center;
  line-height: 40px;
  font-size: 36px;
  transition: .5s;
  color: white;
}
ul li a:hover {
  transform: translateY(-20px);
}
ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
  transform: rotate(60deg);
}
ul li a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
  transform: rotate(-60deg);
}
ul li:nth-child(1) a,
ul li:nth-child(1) a:before,
ul li:nth-child(1) a:after {

  background: #3b5998;
}
ul li:nth-child(2) a,
ul li:nth-child(2) a:before,
ul li:nth-child(2) a:after {

  background: #c9510c;
}
ul li:nth-child(3) a,
ul li:nth-child(3) a:before,
ul li:nth-child(3) a:after {

  background: #007bb6;
}
#copy {
  color: white;
  background-color: tomato;
  border-color: tomato;
  padding: 8px;
}
#create {
  color: white;
  background-color: forestgreen;
  border-color: darkgreen;
  padding: 8px 110px;
  /*margin: 2px;*/
  margin-bottom: 7px;
}
#url {
  border-color: forestgreen;
  padding: 8px;
  margin: 2px;
}
#short-url {
  border-color: tomato;
  padding: 8px;
  margin: 7px;
}
#logo {
  margin: 5px;
}
#last-three {
  margin: 10%;
  list-style: none;
}



